@import "./global-styles.scss";

#project-container {
  font-size: 13px;
  line-height: 1.8;
  position: relative;

  @include media($phone-M) {
    font-size: 11px;
  }

  ul {
    margin-bottom: 20px;
  }

  .project-titles {
    display: inline-block;
  }
  .project-technologies {
    display: inline;
    padding-left: 10px;
  }
  .project-links {
    display: inline;
    position: absolute;
    right: 5px;
    top: 3px;

    @include media($phone-L) {
      display: block;
      position: initial;
      margin: 6px 0 8px 0;
    }

    a {
      color: white;
      transition: color 0.5s, font-size 0.3s;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
      }
    }
  }
  .project-bullets {
    padding-left: 15px;
    margin-top: 7px;

    @include media($phone-L) {
      margin-bottom: 25px;
    }
  }
}
