$mainFont: Montserrat;
$primaryColor: #002f62;
$secondaryColor: #138b89;
$bg-light: rgb(245, 250, 255);
$containerDesktop: 1200px;
$containerLaptop: 950px;

$laptop-L: 1330px;
$laptop-M: 1200px;
$laptop-S: 1024px;
$tablet: 768px;
$phone-L: 480px;
$phone-M: 375px;
$phone-S: 350px;
